In [3]:
%pylab inline

%config InlineBackend.figure_formats = ['svg']

import matplotlib.pyplot as plt
import numpy as np
from scipy import stats 
import math
import pandas as pd

Populating the interactive namespace from numpy and matplotlib

In [10]:
data = pd.read_csv('Medals.csv')

In [11]:
data.info()
data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Rank              92 non-null     int64
 1   Team/NOC          92 non-null     object
 2   Gold              92 non-null     int64
 3   Silver            92 non-null     int64
 4   Bronze            92 non-null     int64
 5   Total             92 non-null     int64
 6   Rank by Total     92 non-null     int64
 7   Gold/Total Ratio  92 non-null     float64
dtypes: float64(1), int64(6), object(1)
memory usage: 5.9+ KB

,Rank,Gold,Silver,Bronze,Total,Rank by Total,Gold/Total Ratio
count,92.000000,92.000000,92.000000,92.000000,92.000000,92.000000,92.000000
mean,46.826087,3.271739,3.228261,4.010870,10.510870,43.956522,0.277717
std,25.926188,5.998357,5.374141,5.464158,15.946679,23.887977,0.261933
min,2.000000,0.000000,0.000000,0.000000,1.000000,2.000000,0.000000
25%,24.750000,0.000000,0.000000,1.000000,2.000000,24.500000,0.000000
50%,47.000000,1.000000,1.000000,2.000000,4.000000,47.000000,0.250000
75%,70.250000,3.000000,4.000000,5.000000,10.250000,66.000000,0.432500
max,86.000000,38.000000,32.000000,23.000000,88.000000,77.000000,1.000000

In [12]:
stats.binom.ppf(0.95,3.27, 0.5)

C:\Users\hp\anaconda3\envs\python-cvcourse\lib\site-packages\scipy\stats\_discrete_distns.py:69: RuntimeWarning: floating point number truncated to an integer
  temp = special.bdtr(vals1, n, p)

3.0